@font-face {
  font-family: 'Gobold Uplow';
  src: url('./gobold.otf') format('otf');
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Gobold Uplow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 92px;
  letter-spacing: -4px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 400;
  font-size: 36px;
}

img {
  max-width: 100%;
}
